<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationTestStoreTestSuite">
    <test name="CucumberTests">
        <classes>
            <class name="com.automationteststore.runners.CucumberRunnerTests"/>
        </classes>
    </test>
</suite>