<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Console name="Console">
            <PatternLayout>
                <Pattern>%d %p %c{2} [%t] %l %m%n</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="File"
                     fileName="target/logs/automationteststore.log"
                     filePattern="target/logs/automationteststore-%d{yyyy-MM-dd}.log"
                     immediateFlush="true">
            <PatternLayout>
                <Pattern>%d %p %c{2} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <ReportPortalLog4j2Appender name="ReportPortal">
            <PatternLayout pattern="%logger{36} - %msg%n%throwable"/>
        </ReportPortalLog4j2Appender>

    </Appenders>

    <Loggers>

        <Root level="WARN">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="ReportPortal"/>
        </Root>

        <Logger name="com.automationteststore" level="TRACE" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="ReportPortal"/>
        </Logger>

        <Logger name="binary_data_logger" level="TRACE" additivity="false">
            <AppenderRef ref="ReportPortal"/>
        </Logger>

    </Loggers>
</Configuration>